/* Reset and base styles  */
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Links */
a,
a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* Common */
aside,
nav,
footer,
header,
section,
main {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: inherit;
  font-weight: inherit;
}

ul,
ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img,
svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */
input,
textarea,
button,
select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button,
input[type=submit] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus,
input:active,
button:focus,
button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

@font-face {
  font-family: "Nunito";
  src: url("../assets/fonts/Nunito-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Nunito";
  src: url("../assets/fonts/Nunito-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
:root {
  --base-font: "Nunito", sans-serif;
  --main-color: #000;
  --background-color: #fff;
  --checkbox-color: #00A1FF;
  --footer-background-color: #484848;
  --border: 1px solid #aaa;
}

[class=dark] {
  --main-color: #fff;
  --background-color: #484848;
}

body {
  font-family: var(--base-font);
  font-size: 16px;
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  height: 100vh;
}
body.open {
  overflow: hidden;
}
@media (min-width: 1152px) {
  body {
    padding-top: 78px;
  }
}

#main {
  flex: 1;
}

a {
  color: currentColor;
}

img {
  display: block;
  max-width: 100%;
}

h1 {
  font-size: clamp(30px, 3.8888888889vw, 56px);
}

h2 {
  font-size: clamp(26px, 2.7777777778vw, 40px);
}

h3 {
  font-size: clamp(16px, 1.3888888889vw, 20px);
}

p {
  font-size: clamp(14px, 1.3888888889vw, 20px);
}

.container {
  width: 100%;
  max-width: 1110px;
  margin-inline: auto;
  padding-inline: 15px;
}

.warranty {
  padding-block: 30px;
}
@media (min-width: 1152px) {
  .warranty {
    padding-block: 40px;
  }
}
@media (min-width: 1440px) {
  .warranty {
    padding-block: 50px;
  }
}
@media (min-width: 768px) {
  .warranty__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 30px;
  }
}
.warranty__content {
  max-width: 500px;
  margin-bottom: 30px;
}
@media (min-width: 768px) {
  .warranty__content {
    order: 2;
  }
}
.warranty__title {
  margin-bottom: 20px;
}
.warranty__copy:not(:last-child) {
  margin-bottom: 10px;
}
.warranty__image {
  max-width: 500px;
}
@media (min-width: 768px) {
  .warranty__image {
    order: 1;
  }
}
.warranty__image img {
  border: 1px solid #484848;
  border-radius: 20px;
}

/*# sourceMappingURL=index.css.map */
